<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <title>HMM
        </title>
    </head>
    <body>
        <div class="container">
            <center><h1>bon toutou</h1></center>
            <div class="carding" style="display:flex; justify-content: space-evenly; margin-top: 40px;">
    
                <img class="card-img-top" src="/img/covid.jpg" alt="Card image cap">
                <h3>
                    PUUUUUUUUUL OOOOOOOOOOOOOOOOOP<br>
                    <br><a href='https://www.twitch.tv/timo_77'> https://www.twitch.tv/timo_77 </a>
                </h3>
            
    
        </div>
    </body>
    </html>